@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:ital,wght@1,300&family=Rajdhani:wght@300&display=swap');

body{
    font-family: 'Caveat', cursive;
}

a{
    color: black !important;
    text-decoration: none;
    display: block;
}